/** @format */

.vector {
	max-width: 90%;
	/* position: absolute;
	top: 90%;
	left: -0.5%; */
}

/* .bikeCol {
	display: flex;
} */
#bikeImage {
	max-width: 100%;
	min-height: 100%;
	/* width: auto; */
}
.bikerow {
	padding-top: 25px;
}
