/** @format */
@font-face {
	font-family: Druk Wide;
	src: url("../../public/fonts/drukwide-medium-trial-webfont.woff");
}
.category {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	font-size: 20px;
	color: #3f3e44;
}
.catBlock {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.c {
	min-width: 100%;
	padding-left: 0px;
	padding-top: 25px;
	padding-right: 10px;
	padding-bottom: 15px;
	/* background-color: black; */
	color: white;
}
.x {
	font-size: 0.7em;
}
.y {
	font-family: Druk Wide;
	font-size: 1.9em;
	white-space: nowrap;
}
.z {
	font-size: 0.7em;
}

#bottomright > .row {
	margin: 0px;
}
