/** @format */
@font-face {
	font-family: Druk Wide;
	src: url("../../public/fonts/drukwide-medium-trial-webfont.woff");
}
.main {
	display: flex;
	justify-content: space-between;
	width: 74%;
	margin: 152px 10px 0px 10px;
	font-family: Druk Wide;
	color: white;
	font-size: 22px;
	accent-color: orange;
	background-color: black;
}
input[type="range"] {
	height: 1px;
	margin: 10px 0;
	/* background-color: orange; */
	width: 100%;
}
#text {
	font-size: 12px;
	font-family: "Montserrat";
	inline-size: 406px;
	line-height: 200%;
	font-style: normal;
	display: flex;
	align-items: center;
}
