/** @format */
.menu {
	white-space: nowrap;
}

.html {
	margin: 0px;
	padding: 0px;
}
.body {
	margin: 0px;
	padding: 0px;
}
.App {
	margin: 0px;
	padding: 0px;
	background: url(../public/Gold.png);
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg {
	float: right;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-link {
	color: #61dafb;
}

.bottomRight {
	min-width: 100%;
	width: 100%;

	align-self: flex-end;
}
.background-black {
	background-color: #060507;
}
.info-block {
	padding: 25px;
	text-align: center;
}
.infoColumn {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	display: flex;
}
.row {
	margin: 0px;
}
.photo2 {
	max-width: 100%;
	height: 90%;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

.vector {
	width: 120%;
	margin-top: -247px;
}
.main-content {
	padding-left: 0;
	margin-left: 0;
}
